build

pseudosaturn.sln
pseudosaturn.sdf
pseudosaturn.suo
*.user
pseudosaturn.vcxproj.filters
pseudosaturn.vcxproj
run.bat
/cdpatch/Release
/cdpatch/Debug
/Debug
cdpatch/cdpatch.aps
cdpatch/cdpatch.suo
cdpatch/cdpatch.sdf
cdpatch/cdpatch.vcxproj.filters
Debug/pseudosaturn.log
*.opensdf
*.idc
